
<script>
    var seats = [];
    {{#each seats}}
        seats[{{@index}}] = {}
        seats[{{@index}}].seat_num = {{this.seat_num}}
        seats[{{@index}}].row = "{{this.row}}"    
    {{/each}}
</script>
<script src="../../javascript/seating_chart.js"></script>
<div class="container">
    <div class="row justify-content-center">
        <h1>Screen</h1>
    </div>

    <div class="row">
        <table class="col table" id="seat_table">
            <tbody id="seat_tbody">
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onclick="reserve_seats({{theater}}, {{time}})">Reserve Seats</button>
        </div>
        <div class="col">
            <form action="http://localhost:8081/clear_res">
                <input class="btn btn-primary" type="submit" value="clear all reservations"/>
            </form>
        </div>
    </div>
</div>
